<?xml version="1.0" ?>
<!--
/**
 * Copyright © MageRahul All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="catalog" id="catalog">
			<module before="Magento_Backend" name="DevAwesome_Sizechart"/>
		</route>
	</router>
</config>
